@page "/Account/ConfirmEmail"
@using DotNet8Auth.Shared.Models.Authentication.ConfirmEmail
@using DotNet8Auth.BlazorWasmApp.Services.Authentication.ConfirmEmail
@inject NavigationManager NavigationManager
@inject IConfirmEmailService ConfirmEmailService

<PageTitle>Confirm email</PageTitle>

<h2>Confirm email</h2>
<hr/>

<div class="row">
    <div class="col-md-6">
        <StatusMessage Message="@Message"/>
        <button type="button" class="w-100 btn btn-lg btn-primary" @onclick="ConfirmEmailAsync">Confirm Email Address</button>
    </div>
</div>


@code {

    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    [SupplyParameterFromQuery] private string? UserId { get; set; }

    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    [SupplyParameterFromQuery] private string? Code { get; set; }
    private string? Message { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (UserId is null || Code is null) NavigationManager!.NavigateTo("/");
        return Task.CompletedTask;
    }


    private async Task ConfirmEmailAsync(MouseEventArgs e)
    {
        if (UserId == null || Code == null)
        {
            Message = "Confirmation went wrong";
            return;
        }

        var result = await ConfirmEmailService.ConfirmEmailAsync(new ConfirmEmailInputModel { UserId = UserId, Code = Code });
        if (result.Succeeded) NavigationManager!.NavigateTo("/");
        else
            Message = "The system couldn't confirm your email";
    }

}