@page "/"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>

Welcome to your new app.


@code
{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
       
        await AuthenticationStateProvider.GetAuthenticationStateAsync();

    }

}
